{
    "command": "sudo /usr/bin/calico-felix --config-file /etc/neutron/felix.conf",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/felix.conf",
            "dest": "/etc/neutron/felix.conf",
            "owner": "neutron",
            "perm": "0600"
        }
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/neutron",
            "owner": "neutron:neutron",
            "recurse": true
        },
        {
            "path": "/var/lib/neutron/kolla",
            "owner": "neutron:neutron",
            "recurse": true
        }
    ]
}
